services:
    directus:
        image: directus/directus:11.5.1
        ports:
            - 8055:8055
        volumes:
            - ./database:/directus/database
            - ./uploads:/directus/uploads
            - ./extensions:/directus/extensions
        environment:
            SECRET: ${SECRET}
            DB_CLIENT: ${DB_CLIENT}
            DB_FILENAME: ${DB_FILENAME}
            WEBSOCKETS_ENABLED: ${WEBSOCKETS_ENABLED}
            CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_SRC: ${CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_SRC}
            CORS_ENABLED: ${CORS_ENABLED}
            CORS_ORIGIN: ${CORS_ORIGIN}